<h3>Invalid Subscriptions</h3>

<div>
  <%= button_to "Download", company_false_subscriptions_path(format: "csv"), method: 'get' %>

  <%= button_to "Delete All", delete_all_company_subscriptions_path, method: :delete, data: { confirm: "Are you sure?" } %>
</div>

<p>
  <%= render partial: 'false_sub_table' %>
</p>