<div class="outer-cont">

  <div class="content-cont">

    <%= form_for @company do |f| %>
      <h5>Add Company</h5>

      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <%= f.submit 'Submit' %>
    <% end %>

  </div>

</div>