<div class="title">
  <h1><%= @company.name %></h1>
</div>

<div class="outer-cont">

  <div class="content-cont">

    <div class='sub-access'>
      <% if !@company.subscriptions.empty? %>
        <h4><%= link_to 'Valid Subscriptions', company_subscriptions_path(@company.name) %></h4>
      <% else %>
        <h4>Valid Subscriptions</h4>
      <% end %>
    </div>

    <div class='sub-access'>
      <% if !@company.invalid_subscriptions.empty? %>
        <h4><%= link_to 'Invalid Subscriptions', company_invalid_subscriptions_path(@company.name) %></h4>
      <% else %>
        <h4>Invalid Subscriptions</h4>
      <% end %>
    </div>
  
    <%= render partial: 'add_subs' %>
  
  </div>
</div>