/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize
 *= require toastr
 *= require skeleton
 *= require_tree .
 *= require_self
 */

a {
  text-decoration: none;
}

html {
  font-family: 'Raleway', sans-serif !important;
}

table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: 
    minmax(100px, 1.67fr)
    minmax(100px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(250px, 1.67fr)
    minmax(100px, 1.67fr)
    minmax(100px, 1.67fr)
    minmax(100px, 1.67fr)
    minmax(100px, 1.67fr)
    minmax(100px, 1.67fr)
    minmax(100px, 1.67fr)
    minmax(100px, 1.67fr)
    minmax(100px, 1.67fr)
    minmax(100px, 1.67fr)
    minmax(100px, 1.67fr)
    minmax(100px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(100px, 1.67fr);
  width: 100% !important;
  height: 100%;
  padding: 0;
  -webkit-box-shadow: 4px 3px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 3px 29px -5px rgba(0,0,0,0.75);
  box-shadow: 4px 3px 29px -5px rgba(0,0,0,0.75);
  border-radius: 8px;
}

thead, tbody, tr {
  display: contents;
}

th, td {
  padding-left: 15px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 50px !important;
  background: #6c7ae0;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

tr:nth-child(even) td {
  background: #f8f6ff;
}

.content-cont {
  margin-top: 5%;
  padding: 5%;
  -webkit-box-shadow: 4px 3px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 3px 29px -5px rgba(0,0,0,0.75);
  box-shadow: 4px 3px 29px -5px rgba(0,0,0,0.75);
  border-radius: 8px;
}

.csv-upload {
  margin-top: 40%;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 50px !important;
  display: flex;
  justify-content: space-between;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Change background on mouse-over */
.navbar a:hover {
cursor: pointer;
}

.outer-cont {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.sub-access {
  margin-top: 5%;
  margin-bottom: 10%;
}

.table-cont {
  width: 100%;
  display: table;
  margin-top: 50px;
}

.title-logo {
  width: 25px;
  height: 25px;
}

.admin {
  margin-right: 20px;
}

.controller-and-action {
  margin-left: 20px;
}